@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-container {
  padding: 4rem;
  max-width: 64rem;
  margin: 5rem auto 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: 'Poppins', sans-serif;
}

.image-section-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.half-width {
  width: 50%;
}

.section {
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 1.5rem;
  z-index: 2;
}

.section-title {
  width: 95%;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.section-text {
  margin-left: 1rem;
  width: 90%;
  font-size: 1rem;
  color: #4b5563;
  text-align: justify;
}

.robot-img-left,
.robot-img-right {
  width: 20rem;
  object-fit: contain;
}

.robot-img-left {
  position: relative;
  margin-top: -6rem;
  margin-right: -7rem;
}

.robot-img-right {
  position: relative;
  margin-top: -5rem;
  margin-left: -7rem;
}

